/*
http://tympanus.net/codrops/2012/12/17/css-click-events/
http://stackoverflow.com/questions/23423841/click-to-show-css-tooltip#comment35897440_23423841
https://css-tricks.com/the-checkbox-hack/
http://cbracco.me/a-simple-css-tooltip/
http://stackoverflow.com/questions/21233250/how-to-positioning-the-tooltip-above-cursor
*/

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #08C;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  color: white;
  font-weight: bold;
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
