body {
    font-family: sans-serif;
}


.flex {
    display: flex;
}

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */

.frame, .frame > * {
    box-sizing: border-box;
}

.frame {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(94px * 3 + 1px);
    min-width: calc(94px * 3 + 1px);
    position: relative;
    padding-top: 1px;
    padding-left: 1px;
    background-color: rgb(247, 247, 246);
    margin: 10px;
}
.frame > * {
    width: 94px;
    height: 88px;
    padding: 52px 5px 5px 5px;
    border-top: 1px solid white;
    box-shadow: inset -1px -1px 0 0 #ccc, inset 1px 0 0 0 white;
    position: relative;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.frame > :hover {
    background-color: white;
}
.frame:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid rgb(3, 61, 93);
}

/*better when zooming, visible gap between border and arrow*/
/*http://stackoverflow.com/questions/28178202/css-only-tooltip-with-arrow-and-border*/
.frame-down:before{
    content:'';
    position:absolute;
    left:calc(50% - 5px); bottom:-6px;
    width:12px; height:12px;
    background:inherit;
    transform:rotate(45deg);
    box-shadow: inset -5px -5px 0 -4px rgb(3, 61, 93);
    z-index: 1;
}

/* sprite icon */

.icon:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: calc(50% - 60px / 2);
    width: 60px;
    height: 50px;
    pointer-events: none;
    background-image: url('sprite.png');
}

.icon.icon_account_ballance:before {
    background-position: 0 0;
}

.icon.icon_motorcycle:before {
    background-position: 0 -50px;
}

.icon.icon_time:before {
    background-position: 0 -100px;
}

.icon.icon_rowing:before {
    background-position: 0 -150px;
}

.icon.icon_sun:before {
    background-position: 0 -200px;
}

.icon.icon_bike:before {
    background-position: 0 -250px;
}

.icon.icon_group:before {
    background-position: 0 -300px;
}
/* image icon */

.icon_account_public {
    background-image: url('ic_group_black_24dp_2x.png');
    background-repeat: no-repeat;
    background-position: 50% calc(50% - 15px);
}