/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: #cccccc;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container > * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
}

.up {
    height: 200px;
    background-color: gray;
}

.handler {
    height: 10px;
    background: #555;
    cursor: n-resize;
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: auto;
}

.down > * {
    flex-basis: auto;
}