.show_menu {
    display: flex;
    opacity: 1;
}
.hide_menu {
    display: none;
    opacity: 0.2;
}
.tooltip_menu_widget {
    flex-wrap: wrap;
    max-width: calc(94px * 3 + 1px);
    min-width: calc(94px * 3 + 1px);
    position: absolute;
    padding: 1px 0 0 1px;
    background-color: rgb(247, 247, 246);
    margin: 0;
    /* calc() not supported for transition http://caniuse.com/#feat=css-transitions */
    /*bottom: calc(100% - 10px);*/
    transition: top 0.5s, opacity 0.5s;
}
.tooltip_menu_widget > * {
    width: 94px;
    height: 88px;
    padding: 52px 5px 5px 5px;
    border-top: 1px solid white;
    box-shadow: inset -1px -1px 0 0 #ccc, inset 1px 0 0 0 white;
    position: relative; /* needed when using sprite icon */
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.tooltip_menu_widget > :hover {
    background-color: white;
}
.tooltip_menu_widget:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(3, 61, 93);
}

/*better when zooming, visible gap between border and arrow*/
/*http://stackoverflow.com/questions/28178202/css-only-tooltip-with-arrow-and-border*/
.tooltip_menu_widget_down:before{
    content:'';
    position:absolute;
    left:calc(50% - 5px); bottom:-6px;
    width:12px; height:12px;
    background:inherit;
    transform:rotate(45deg);
    box-shadow: inset -5px -5px 0 -4px rgb(3, 61, 93);
    z-index: 1;
}

.tooltip_menu_widget > a {
    text-decoration: none;
    color: black;
}
